<section class="Section Section--spacingNormal" id="section-{{ section.id }}">
  <div class="Container">
    {%- if section.settings.subheading != blank or section.settings.title != blank -%}
    {%- endif -%}

    <div class="Rte" style="text-align: center">
      {{ section.settings.html }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Custom1 HTML",
    "class": "shopify-section--",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub-heading",
        "default": "Sub-heading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Your HTML"
      },
      {
        "type": "html",
        "id": "html",
        "label": "HTML content",
        "default": "<p>Write your own custom HTML content.</p>"
      }
    ],
    "presets": [
      {
        "category": "Advanced",
        "name": "Custom1 HTML",
        "settings": {}
      }
    ]
  }
{% endschema %}