<div class="zoovu-home"
style="margin:120px 0 40px;"
>  
  <div id="zoovu-assistant"></div> 
</div>


{% schema %}
  {
    "name": "Foundry Product Finder",
    "class": "fd-section__product-finder",
    "presets": [
      {
        "category": "Product Finder",
        "name": "Foundry Product Finder",
        "settings": {}
      }
    ]
  }
{% endschema %}