.fd-section__bestsellers{
  .fd-collection__bestsellers{
    margin: 60px 0 60px;
    h3{
      color: $color-dark;
      font-size:25px;
      text-align: center;
      margin-bottom: 43px;
      font-weight: 600;
    }
    .fd-product-image__wrapper{
      position: relative;
      height: 367px;
      width: 284px;
      // height: 310px;
      // width: 220px;
      margin: auto;
      >img{
        @extend %cover;

        object-fit: cover;
      }
    }
    .fd-collection__product-info{
      margin-top: 13px;
      margin-bottom: 20px;
      position: relative;
      .metafield{
        padding: 6.5px 10px;
        font-size: 13px;
        font-weight: 600;
        display: inline;
        border-radius: 3px;
        color: $color-dark;
        &-yellow{background-color: $color-tagExcl;}
        &-blu{background-color: $color-tagNew;}
        &-red{background-color: $color-tagBest;}
      }
      .title{
        margin-top: 20px;
        color: $color-dark;
        font-size: 14px;
        margin-bottom: 4px;
        font-weight: 600;
      }
      .jdgm-star, .jdgm-prev-badge__text{font-size: 14px;}
      .price{
        font-size: 14px;
        color: $color-dark;
        font-weight: 600;
        margin-top: 13px;
      }
    }
    .glide__slide{
      position: relative;
      margin-top: auto;
    }
    .glide__arrow{
      position: absolute;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $color-white;
      top: 34%;
      transform: translateY(-50%);
      &--left{
        left: -25px;
      }
      &--right{
        right: -25px;
      }
    }
    .glide__bullets{
      margin-top: 35px;
      text-align: center;
      .glide__bullet{
        margin-right: 10px;
        width: 30px;
        height: 4px;
        background-color: #C7D5D5;
        @include media('<phone'){
          width: 10px;
        }
        &:last-of-type{
          margin-right: 0;
        }
        &--active{
          background-color: #043F4D;
        }
      }
    }
    .fd-add-to-cart__form{
      .fd-add-to-cart{
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        border: 2px solid #C7D5D5;
        border-radius: 3px;
        color: $color-dark;
        width: 100%;
        padding: 15px;
        transition: .3s;
        &:hover{
          background-color: $color-aqua;
          color: $color-grey;
          border-color: $color-aqua;
        }
      }
    }
  }
}