<div class="fd-content-block fd-plain-page">
  <header class="fd-plain-page__header">
      <h1 class="fd-plain-page__title">{{ page.title }}</h1>
  </header>

  <div class="fd-plain-page__wrapper fd-max-width">
    {{ page.content }}
  </div>
</div>