<div class="fd-content-block fd-blog-page">

  <section  class="fd-blog__carousel" >
  {%- section 'blog-slideshow' -%}
  </section>

  <section  class="section-blogs__show" >
  {%- section 'fd-blogs-show' -%}
  </section>

  <section  class="section-articles" >
  {%- section 'fd-articles-grid' -%}
  </section>

</div>


